<ion-view title="{{title}}">

  <ion-content ng-controller="pendingApprovalCtrl" class="pending-approval-wrapper">

    <div class="list">
      <a class="item item-avatar" ng-click="requestDetailPage(2, 'approve')">
        <img class="request-mode-img" src="img/plane.png" />
        <h2>Leena Das</h2>
        <p>Mumbai to Pune</p>
        <p>Request Date: <strong>12/05/2016</strong></p>
      </a>  

      <a class="item item-avatar" ng-click="requestDetailPage(2, 'approve')">
        <img class="request-mode-img" src="img/plane.png" />
        <h2>Leena Das</h2>
        <p>Mumbai to Pune</p>
        <p>Request Date: <strong>12/05/2016</strong></p>
      </a>  

      <a class="item item-avatar" ng-click="requestDetailPage(2, 'approve')">
        <img class="request-mode-img" src="img/plane.png" />
        <h2>Leena Das</h2>
        <p>Mumbai to Pune</p>
        <p>Request Date: <strong>12/05/2016</strong></p>
      </a>  

      <a class="item item-avatar" ng-click="requestDetailPage(2, 'approve')">
        <img class="request-mode-img" src="img/plane.png" />
        <h2>Leena Das</h2>
        <p>Mumbai to Pune</p>
        <p>Request Date: <strong>12/05/2016</strong></p>
      </a>  

      <a class="item item-avatar" ng-click="requestDetailPage(2, 'approve')">
        <img class="request-mode-img" src="img/plane.png" />
        <h2>Leena Das</h2>
        <p>Mumbai to Pune</p>
        <p>Request Date: <strong>12/05/2016</strong></p>
      </a>    	
    </div>

  </ion-content>

</ion-view>