<ion-view title="{{title}}">

  <ion-content ng-controller="requestCtrl" class="new-request-wrapper">

    <div class="content-wrapper">

      <form name="requestForm" class="requestForm" novalidate ng-submit="requestFormSubmit(requestForm.$valid)">

        <div class="list">

          <div class="item">
            <label class="item-input item-select">
              <div class="input-label">Select Mode</div>
              <select ng-model="mode" ng-change="changeMode()">
                <option value="air">Air</option>
                <option value="rail">Rail</option>
                <option value="car">Car</option>
                <option value="bus">Bus</option>
              </select>
            </label>
          </div>

        	<div class="item" ng-class="{ 'has-error' : (requestForm.visitPurpose.$invalid && submitted && !visitPurposefocused)}">
            <label class="item-input">
              <div class="input-label">Purpose of the visit</div>
              <input type="text" placeholder="" name="visitPurpose" ng-model="visitPurpose" ng-required="true" ng-focus="visitPurposefocused=true" ng-blur="visitPurposefocused=false" />
            </label>
            <p class="error help-block" ng-show="requestForm.visitPurpose.$error.required && submitted && !visitPurposefocused">Please enter Visit Purpose.</p>
          </div>

          <div class="item" ng-class="{ 'has-error' : (submitted && !validateFromStatus)}">
            <label class="item-input item-select">
              <div class="input-label">From</div>
              <select ng-change="validateFromPlace()" ng-model="fromPlace">
                <option value="">Please Select</option>
                <option value="mumbai">Mumbai</option>
                <option value="pune">Pune</option>
                <option value="banglore">Banglore</option>
              </select>
            </label>
            <p class="error help-block" ng-show="submitted && !validateFromStatus">Please select Depart From place.</p>
          </div>

          <div class="item" ng-class="{ 'has-error' : (submitted && !validateDestinationStatus)}">
            <label class="item-input item-select">
              <div class="input-label">Destination</div>
              <select ng-change="validateDestination()" ng-model="destination">
                <option value="">Please Select</option>
                <option value="mumbai">Mumbai</option>
                <option value="pune">Pune</option>
                <option value="banglore">Banglore</option>
              </select>
            </label>
            <p class="error help-block" ng-show="submitted && !validateDestinationStatus">Please select Destination.</p>
          </div>

          <div class="item" ng-class="{ 'has-error' : (requestForm.departureDate.$invalid && submitted && !departureDatefocused)}">
            <label class="item-input">
            <div class="input-label">Departure Date</div>
              <input type="date" name="departureDate" ng-model="departureDate" ng-required="true" ng-focus="departureDatefocused=true" ng-blur="departureDatefocused=false" required="required" />
            </label>
            <p class="error help-block" ng-show="requestForm.departureDate.$error.required && submitted && !departureDatefocused">Please select Departure Date.</p>
          </div>

          <div class="item" ng-class="{ 'has-error' : (requestForm.departureTime.$invalid && submitted && !departureTimefocused)}">
            <label class="item-input">
              <div class="input-label">Departure Time</div>
              <input type="time" name="departureTime" ng-model="departureTime" ng-required="true" ng-focus="departureTimefocused=true" ng-blur="departureTimefocused=false" required="required" />
            </label>
            <p class="error help-block" ng-show="requestForm.departureTime.$error.required && submitted && !departureTimefocused">Please select Departure Time.</p>
          </div>

          <div class="item">
            <label class="item-input">
              <div class="input-label">Accommodation Required</div>
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="accomodationStatus">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </label>
          </div>

          <div ng-show="accomodationStatus" class="item" ng-class="{ 'has-error' : (requestForm.accomodationFromDate.$invalid && submitted
          && !accomodationFromDateFocused)}">
            <label class="item-input">
              <div class="input-label">Accomodation From Date</div>
              <input type="date" name="accomodationFromDate" ng-model="accomodationFromDate" ng-focus="accomodationFromDateFocused=true" ng-blur="accomodationFromDateFocused=false" ng-required="accomodationStatus"/>
            </label>
            <p class="error help-block" ng-show="requestForm.accomodationFromDate.$error.required && submitted && !accomodationFromDateFocused">Please select Accomodation From Date.</p>
          </div>

          <div ng-show="accomodationStatus" class="item" ng-class="{ 'has-error' : (requestForm.accomodationToDate.$invalid && submitted
          && !accomodationToDateFocused)}">
            <label class="item-input">
              <div class="input-label">Accomodation To Date</div>
              <input type="date" name="accomodationToDate" ng-model="accomodationToDate" ng-focus="accomodationToDateFocused=true" ng-blur="accomodationToDateFocused=false" ng-required="accomodationStatus" />
            </label>
            <p class="error help-block" ng-show="requestForm.accomodationToDate.$error.required && submitted && !accomodationToDateFocused">Please select Accomodation To Date.</p>
          </div>

          <div class="item">
            <label class="item-input">
              <div class="input-label">Transportation Required</div>
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model=transportationStatus>
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </label>
          </div>

          <div class="item" ng-class="{ 'has-error' : (submitted && !validateApproverStatus)}">
            <label class="item-input item-select">
              <div class="input-label">Select Your Approver</div>
              <select ng-change="validateApprover()" ng-model="approver">
                <option value="">Please Select</option>
                <option value="leenadas">Leena Das</option>
                <option value="leenadas">Leena Das</option>
                <option value="leenadas">Leena Das</option>
              </select>
            </label>
            <p class="error help-block" ng-show="submitted && !validateApproverStatus">Please select Approver.</p>
          </div>

          <div>
            <button ng-if="!requestId" type="submit" class="button submit-button button-block button-positive">Submit</button>
            <button ng-if="requestId" type="submit" class="button submit-button button-block button-positive">Update</button>
          </div>
        </div>
      </form>

    </div>

  </ion-content>

</ion-view>
