<ion-side-menus class="side-menu">
	
  <ion-side-menu-content ng-controller="appCtrl">
  	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
  	  <ion-nav-back-button class="button-clear"><span class="back-arrow"></span></ion-nav-back-button>	
  	  <ion-nav-buttons side="left">
  	  	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  	  </ion-nav-buttons>
  	</ion-nav-bar>
  	<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="appCtrl">
  	<ion-header-bar class="bar bar-header bar-stable">
  		<h1 class="title">Leena Das</h1>
  	</ion-header-bar>

  	<ion-content class="has-header">
  		<ion-list>
  			<ion-item menu-close href="#/app/home">Home</ion-item>
  		</ion-list>
  		<ion-list>
  			<ion-item menu-close href="#/app/my-request">My Requests</ion-item>
  		</ion-list>
  		<ion-list>
  			<ion-item menu-close href="#/app/pending-approvals">Pending Approvals</ion-item>
  		</ion-list>
  		<ion-list>
  			<ion-item menu-close ng-click="logout()">Logout</ion-item>
  		</ion-list>
  	</ion-content>
  </ion-side-menu>

</ion-side-menus>