<ion-view>

  <ion-content ng-controller="splashCtrl" class="splash-wrapper">

    <div class="main-wrapper">

      <div class="splashLogo">
         <img src="img/MyTour_logo_white.png" width="250"/>
      </div>

      <div class="india-map-img">
          <img src="img/mytour_bg.png">
      </div>

    </div>

    <div class="tag-line">
        <span class="copyright-text">Copyright @ 2016</span>
        <img src="img/tmf-tag-line.png" width="200" />
    </div>

  </ion-content>

</ion-view>

